/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-05-2019, 11:47:06
    Author     : LENOVO
*/
.card-block{
    display: grid;    
}

input[type="password"]{
    border-color: #edeeef !important;
    border-style: solid !important;    
    border-width: thin;
}
#imagePreview{
    border-radius: 100%;    
}