/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-05-2019, 11:47:06
    Author     : LENOVO
*/
.preview{
    height: 100px;
}

.formAfiche{
    height: 315px;
}

form{
    display: flex;
}

.divButtons{
    text-align: -webkit-center;
}

.divButtons div{
    display: contents;
}